{%- macro css(s) -%}
<link rel="stylesheet" href="/css/{{s}}.css">
{%- endmacro -%}
{%- macro js(s) -%}
<script src="/js/{{s}}.js"></script>
{%- endmacro -%}
{%- macro jsT(s) -%}
<script src="{{s}}.js"></script>
{%- endmacro -%}
